<!-- Highlight.js gruvbox dark -->
{{ if not .Params.disableHLJS }}
{{ partial "gruvbox.html" . }}
{{ end }}
<!-- End of Highlight.js gruvbox dark -->

<!-- Partial for math -->
{{ if .Params.math }}
{{ partial "math.html" . }}
{{ end }}
<!-- end of Partial for math -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalyticsID}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleAnalytics}}');
</script>
<!-- End of Global site tag (gtag.js) - Google Analytics -->